.square, .blueSquare, .redSquare{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    padding: 0;
    text-align: center;
    width: 80px; 
    border-radius: 80px }

  .blueSquare {
    background: blue;
  }

    .redSquare {
      background: red;
}

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }