.square, .blueSquare, .redSquare, .square-top-basic, .square-top-sides, .square-top-center {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  padding: 0;
  text-align: center;
  width: 80px; 
  border-radius: 80px 
}

.square-top-sides, .square-top-center, .square-top-basic {
  background-color: #D3D3D3;
  background-image: linear-gradient(#D3D3D3,#D3D3D3,#fff);
  border-color: #D3D3D3;
  opacity: 0.25;
}

.square-top-center {
  opacity: 0.8;
}

.square-top-basic {
  opacity: 0;
}


.blueSquare {
  background: blue;
}

.redSquare {
  background: red;
}

.board-row {
  clear: both;
  content: "";
  display: table;
  margin-left: 10%;
}

.main-game {
  background-color: lightgray;
}

.main-header {
  text-align: center;
  color: black;

}

.turn-header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.winner-header {
  text-align: center;
  color: #999900;
  font-weight: 900;
}

.main-board {
  margin: auto;
  width: 700px;
}

.lower-bar {
  margin: auto;
  width: 475px;
}

.lower-bar p, .lower-bar input{
  display: inline-block;
  margin: 10px;
}