.noBorder {
    text-align: center;
    color: #000;
    border: solid 2px transparent;
    padding: 12px 12px 12px 12px; 
    margin: 0px 0px 10px 0;
}

.withBorder {
    text-align: center;
    color: #000;
    border: solid 2px #EC3A4B; 
    padding: 12px 12px 12px 12px;
    margin: 0px 0px 10px 0;
}

.selected {
    opacity: 0.2;
}